<section id="footer">
  <div class="container-fluid">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a routerLink="/about"
              ><i class="fa fa-angle-double-right"></i>About</a
            >
          </li>
          <li>
            <a routerLink="/contactUs"
              ><i class="fa fa-angle-double-right"></i>Contact Us</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white"
      >
        <p class="h6">© All right Reversed. ></p>
      </div>
      <hr />
    </div>
  </div>
</section>
